.header-fixed{
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  width: 100%;
  height: 200px;
  // background: var(--ion-color-primary);
  background: linear-gradient(-45deg, #00bcd4 0%, #2196f3 33%, #4150a2 100%) !important;
  z-index: 9;
  border-bottom-left-radius: 30px;
}

.content-on-top{
  // width: 80vw;
  // margin-left:10vw;
  margin-top: 200px;
  // background: var(--ion-color-light); 
  background: white; 
  height: 50vh;
  position: relative;
  z-index: 1500;
  // border-top-right-radius: 25px;
  // border-top-left-radius: 25px;
}

.avatar-size{
  width: 65px;
  height: 65px;
}

.text-no-margin{
  margin-block-start: 0px!important;
  margin-block-end: 0px!important;
}

.notif-icon {
  background: var(--ion-color-light);
  border-radius: 50%;    
  color: var(--ion-color-dark);
}

.card-home{
  border-radius: 16px;
  box-shadow: none;
  // margin-top: -48px;
  // height: 85px;
  // max-height: 85px;
  min-height: 80px;
}

.list-items {
  width: 100%;
  ion-card-content {
    ion-col {
      padding-inline-start: unset;
      padding-inline-end: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.text-left{
  float: left !important;
}