<ion-content [fullscreen]="true" >
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header-fixed">
    <ion-grid>
      <ng-container> 
        <ion-row style="margin-top: 30px;">
          <ion-col size="2" class="ion-text-end">
              <img src="assets/img/user.jpeg" style="width: 50px; height:50px; border-radius:50px;">
          </ion-col>
          <ion-col size="7" style="align-self: center; margin-left: 8px;">
            <ion-text color="light" *ngIf="isAuth">
              <small class="text-no-margin">Hi,selamat datang</small>
              <p class="title text-no-margin text-bold" style="font-weight: 700 !important;">{{isAuth.name}}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col size="6">
            <div style="border: 1px solid var(--ion-color-light);border-radius: 10px;">
              <ion-row>
                <ion-col size="3" style="text-align-last: center;align-self:center;">
                  <img src="assets/img/in.png" width="25px;">
                </ion-col>
                <ion-col size="9">
                  <ion-text color="light">TAMU MASUK</ion-text><br>
                  <ion-text color="light">
                    <b>{{isData.length}}</b>
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="6">
            <div style="border: 1px solid var(--ion-color-light);border-radius: 10px">
              <ion-row>
                <ion-col size="3" style="text-align-last: center;align-self:center;">
                  <img src="assets/img/out.png" width="25px;">
                </ion-col>
                <ion-col size="9">
                  <ion-text color="light">TAMU KELUAR</ion-text><br>
                  <ion-text color="light">
                    <b>{{isDataOut.length}}</b>
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>
  <div class="content-on-top">
    <ion-grid>
      <ng-container>
        <ion-row>
          <ion-col size="12">
            <ion-card class="box-shadow card-home">
              <ion-card-content>
                <ion-row>
                  <ion-col size="6">
                    <ion-text color="dark" style="font-size: 17px !important;">
                      <b>Tamu Masuk</b>
                    </ion-text>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right" (click)="searchData()">
                    <ion-icon slot="" style="zoom:1.5 ;" name="search-outline" color="primary"></ion-icon>
                  </ion-col>
                </ion-row>
                <ng-container *ngIf="isData.length; else noData">
                  <ng-container *ngFor="let v of isData; let i = index;">
                    <ion-row (click)="addData(i, 'update')">
                      <ion-col size="12" class="ion-no-padding border ion-margin-bottom">
                        <ion-card class="card-no-shadow" >
                          <ion-card-content class="ion-no-padding">
                            <ion-row>
                              <ion-col size="6">
                                <ion-label color="success">
                                   <b>{{v.card_number}}</b>
                                </ion-label>
                              </ion-col>
                              <ion-col size="6" class="ion-text-right">
                                <ion-label color="primary">
                                   <b>{{v.created}}</b>
                                </ion-label>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-label color="dark">
                                   <b>Kartu {{v.card_type}} </b><br>
                                   <span>{{v.id_card_number}}</span>
                                </ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-label color="dark">
                                   <b>Nama </b><br>
                                   <span>{{v.name}}</span>
                                </ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-label color="dark">
                                   <b>Nomor Hp </b><br> 
                                   <span>{{v.phone_number}}</span>
                                </ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-label color="dark">
                                   <b>Alamat </b><br>
                                   <span>{{v.address}}</span>
                                </ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-label color="dark">
                                   <b>Kepentingan </b><br>
                                   <span>{{v.necessary}}</span>
                                </ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-label color="danger">
                                  <small>*tap data untuk melakukan update</small>
                                </ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-card-content>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <ion-row>
                    <ion-col size="12" style="text-align: -webkit-center; margin-top: 50px;">
                      <div style="
                      width: 100px;
                      border-radius: 100px;
                      width: 100px;
                      background: #4150a236;
                      ">
                        <img src="assets/img/maintenance.png">
                      </div>
                      <ion-text color="primary"><span><b>Hi, admin</b></span></ion-text> <br>
                      <span>Gaada Data</span><br>
                    </ion-col>
                  </ion-row>
                </ng-template>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
      <br>
      <br>
      <br>
    </ion-grid>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addData('', 'add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>