ion-toolbar {
  ion-icon {
    font-size: 25px;
  }
}

ion-header {
    z-index: unset !important;
  ion-toolbar {
    padding: 0 8px 0 8px;
    ion-title { font-weight: 600;}
  }
}

ion-input {
  border: 1px solid grey !important;
  margin-top: 8px !important;
  padding-left: 10px!important;
  border-radius: 10px !important;
}
ion-button{
  height: 45px !important;
}