<ion-header>
  <ion-toolbar>
    <ion-title color="dark">FORM INPUT</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="transparent" shape="round" (click)="Close()">
        <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ng-container>
      <ion-card class="box-shadow border-radius">
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Nomor Identitas</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="Nomor Identitas" required="" [(ngModel)]="id_card_number" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Jenis Identitas</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-list>
                <ion-item>
                  <ion-select placeholder="PILIH STATUS" [(ngModel)]="card_type">
                    <ion-select-option value="KTP">KTP</ion-select-option>
                    <ion-select-option value="SIM">SIM</ion-select-option>
                    <ion-select-option value="PASSPORT">PASSPORT</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Nama Tamu</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="Nama Tamu" required="" [(ngModel)]="name" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Alamat/Instansi</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="Alamat/Instansi" required="" [(ngModel)]="address" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Nomor Telpon</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="Nomor Telpon" required="" [(ngModel)]="phone_number" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Keperluan</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="Keperluan" required="" [(ngModel)]="necessary" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>ID Card Yang Diberikan</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="ID Card Yang Diberikan" required="" [(ngModel)]="card_number" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Status</b><ion-text color="danger">*</ion-text></ion-label>
              <ion-list>
                <ion-item>
                  <ion-select placeholder="PILIH STATUS" [(ngModel)]="status">
                    <ion-select-option value="IN">IN</ion-select-option>
                    <ion-select-option *ngIf="id != ''" value="OUT">OUT</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" (click)="Save()">
                <ion-text>
                  SIMPAN
                </ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>

