<ion-content [fullscreen]="true">
  <div class="content-on-top">
    <ion-grid>
      <ng-container>
        <ion-row>
          <ion-col size="12">
            <ion-card class="card-center">
              <ion-card-content>
                <ion-row>
                  <ion-col size="12" style="justify-content: center; display: inline-flex">
                    <ion-img src="assets/img/login-1.png" style="width: 70%; margin-bottom: 20px;"></ion-img>
                  </ion-col>
                  <ion-col size="12" style="justify-content: center; display: inline-flex">
                    <span style="color: black; letter-spacing:4px; margin-left: 8px;" ><h1><b>Registrasi Tamu</b></h1></span>
                    <br>
                  </ion-col>
                  <ng-container>
                    <ion-col size="12">
                      <ion-item class="form-group" color="white" lines="none">
                        <ion-icon name="person-outline" slot="" color="primary"></ion-icon> 
                        <ion-input  [(ngModel)]="username" placeholder="Username" color="primary"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <ion-item class="form-group" color="white" lines="none">
                        <ion-icon name="lock-closed-outline" slot="" color="primary"></ion-icon>
                        <ion-input [(ngModel)]="password" [type]="showPassword? 'text' : 'password' " placeholder="Password" color="primary"></ion-input>
                        <ion-icon [name]="showPassword? 'eye' : 'eye-off'" slot="end" color="primary" (click)="showHidePassword()"></ion-icon>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12" class="ion-text-center">
                      <ion-button class="login-btn" (click)="login()" expand="block">Login</ion-button>
                    </ion-col>
                  </ng-container>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>
</ion-content>