.header-fixed{
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  width: 100%;
  height: 300px;
  // height: 100%;
  background: linear-gradient(-45deg, #00bcd4 0%, #2196f3 33%, #4150a2 100%) !important;
  z-index: 9;
}
.content-on-top{
  margin-top: 150px;
  // background: var(--ion-color-light); 
  background: white; 
  // height: 50vh;
  height: 40vh;
  position: relative;
  z-index: 1500;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-center{
  background-color: #ffffff00;
  border-radius: 16px;
  box-shadow: none;
  margin-top: -10px;
  min-height: 80px;
}

ion-button.login-btn {
  min-height: 30px;
  margin-bottom: 1rem;
  --border-radius: 10px;
  --box-shadow: none;
  --ion-color-contrast: linear-gradient(-45deg, #00bcd4 0%, #2196f3 33%, #4150a2 100%) !important;
}

ion-input {
  margin-top: -9px;
  margin-left: 10px;
}
ion-icon{
  margin-top: 0px !important;
}
ion-item{
  border: 1px solid var(--ion-color-light);
  border-radius: 10px;
  height: 40px !important;
}
