<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Riwayat Tamu</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="transparent" shape="round" (click)="searchData()">
        <ion-icon slot="icon-only" name="search-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="isDataTotal > 0 && skeletonShow == 0; else noData">
    <ng-container *ngFor="let v of isData; let i = index;">
      <ion-card class="box-shadow border-radius">
        <ion-card-content class="ion-no-padding">
          <ion-row  >
            <ion-col size="12" class="ion-no-padding border">
              <ion-card class="card-no-shadow" >
                <ion-card-content class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label color="primary">
                        <b>ID CARD {{v.card_number}}</b>
                      </ion-label>
                    </ion-col>
                    <!-- <ion-col size="6" class="ion-text-right">
                      <ion-label color="dark">
                      </ion-label>
                    </ion-col> -->
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label color="success">
                         <b>Tanggal Masuk </b><br>
                         <span>{{v.created}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="danger">
                         <b>Tanggal Keluar </b><br>
                         <span>{{v.updated}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="dark">
                         <b>Kartu {{v.card_type}} </b><br>
                         <span>{{v.id_card_number}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="dark">
                         <b>Nama </b><br>
                         <span>{{v.name}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="dark">
                         <b>Nomor Hp </b><br> 
                         <span>{{v.phone_number}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="dark">
                         <b>Alamat </b><br>
                         <span>{{v.address}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="dark">
                         <b>Kepentingan </b><br>
                         <span>{{v.necessary}}</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-button expand="block" color="danger" (click)="doDelete(i)">
                        HAPUS
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-grid>
  <ng-template #noData>
    <ion-row *ngIf="skeletonShow == 0 && isDataTotal == 0">
      <ion-col size="12" style="text-align: -webkit-center; margin-top: 50px;">
        <div style="
        width: 100px;
        border-radius: 100px;
        width: 100px;
        background: #4150a236;
        ">
          <img src="assets/img/maintenance.png">
        </div>
        <ion-text color="primary"><span><b>Hi, admin</b></span></ion-text> <br>
        <span>Gaada Data</span><br>
      </ion-col>
    </ion-row>
  </ng-template>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getData($event)" *ngIf="isDataTotal > offset || skeletonShow == 1">
    <ion-grid>
      <ng-container>
        <ion-card class="card-no-shadow ion-no-margin margin-list-card">
          <ion-card-content>
            <ion-row>
              <ion-col size="2">
                <ion-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-text>
              </ion-col>
              <ion-col size="8">
                <ion-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-text>
              </ion-col>
              <ion-col size="2">
                <ion-text>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-grid>
  </ion-infinite-scroll>
  <br><br>
</ion-content>