<ion-content [fullscreen]="false" >
  <ion-grid>
    <ion-card class="ion-no-margin ion-no-padding margin-list-card card-no-shadow ion-margin-top">
      <ion-card-content>
        <ng-container *ngIf="type != 2">
          <ion-row>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Katakunci </b></ion-label>
              <ion-input type="text" [(ngModel)]="keyword" placeholder="ketikan katakunci"></ion-input>
            </ion-col>
            <!-- <ion-col size="12">
              <ion-label position="stacked" ><b>Date Start </b></ion-label>
              <ion-input type="date" [(ngModel)]="dateStart" placeholder="DD/MM/YYYY" style="width: 100%;"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-label position="stacked" ><b>Date End </b></ion-label>
              <ion-input type="date" [(ngModel)]="dateEnd"  placeholder="DD/MM/YYYY" style="width: 100%;"></ion-input>
            </ion-col> -->
          </ion-row>
          <ion-row class="ion-margin-top">
            <ion-col size="6" (click)="LoadBackPage()">
              <ng-container style="float: left;">
                <ion-button  color="primary" shape="round" expand="block">Cari</ion-button>
              </ng-container>
            </ion-col>
            <ion-col size="6" (click)="CloseFilter()">
              <ion-button color="danger" shape="round" expand="block">Batal</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>