/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IBMPlexSans-Regular.ttf');
}
 
@font-face {
  font-family: 'Plex';
  font-weight: bold;
  src: url('/assets/fonts/IBMPlexSans-Bold.ttf');
}
 
:root {
    --ion-text-color: #828585;
    --ion-font-family: 'Plex';
}

.card-no-shadow{
  box-shadow: none !important; 
}

.margin-list-card{
  margin-bottom: 5px !important ;
}

.ion-no-margin-left{
  margin-left: 0!important;
}
.ion-no-margin-right{
  margin-right: 0!important;
}
.ion-no-padding-left{
  padding-left: 0!important;
}
.ion-no-padding-right{
  padding-right: 0!important;
}

.box-shadow{
  box-shadow: 0 10px 18px 0 rgb(62 57 107 / 20%) !important;
}

.border{
  border: 1px solid #f4f5f8 !important;
}
.border-radius{
  border-radius: 16px;
}

.alert-title.sc-ion-alert-md {
  color: #4150a2 !important;
  font-size: 20px;
  font-weight: bold !important;
}